﻿html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #1b1c1b;
    padding: 1% 0;
    font-size: 1.2em;
}

footer {
    background-color: #1b1c1b;
}

.navbar-brand {
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-brand .icon {
    height: 100%;
}

.navbar-default .navbar-nav li a {
    color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover, navbar-default .navbar-nav li a:active {
    color: #FFF;
}

#home {
    background: url(img/KL-Stadt-bei-Nacht-AdobeStock_237991319.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}

.padding {
    padding: 80px 0;
    background-color: #1b1c1b;
    color: white;
}

.padding image {
    width: 100%;
}

#fixed {
    background: url(img/unser-analaoges-mischpult-im-tonstudio-siegburg.jpg) no-repeat center center fixed;
    display: table;
    height: 40em;
    position: relative;
    width: 100%;
    background-size: cover;
}

footer {
    width: 100%;
    padding: 5% 5% 10% 5%;
    color: #FFF;
}

.fa {
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}

.fa:hover {
    color: #D5D5D5;
    text-decoration: none;
}

.icon {
    max-width: 80px;
    filter: invert();
}

@media (max-width: 768px) {
    .landing-text h1 {
        font-size: 300%;
    }

    .fa {
        font-size: 20px;
        padding: 10px;
    }

    .icon {
        padding-top: 5%;
        max-width: 100px;
    }
}
